<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WPEmbedClipCode.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="URLConvert.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WPEmbedClipCode.Settings>
            <setting name="Domain" serializeAs="String">
                <value>test</value>
            </setting>
            <setting name="VideoHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VideoWidth" serializeAs="String">
                <value>0</value>
            </setting>
        </WPEmbedClipCode.Settings>
        <URLConvert.Settings>
            <setting name="Domain" serializeAs="String">
                <value />
            </setting>
            <setting name="VideoHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VideoWidth" serializeAs="String">
                <value>0</value>
            </setting>
        </URLConvert.Settings>
    </userSettings>
</configuration>